.git
.gitignore
.env
__pycache__/
node_modules/
relevant_screenshots/

test.mp4
test_easy.mp4
test_medium_easy.mp4
test_medium_hard.mp4

first_order_spec.json
rag_context.json
relevant_timestamps.json
taskdef.json
s3-read-policy.json
thumbnail_urls.txt
transcript_ru.txt
twelvelabs_transcript.txt

.cursor/
